/* ------------------------------------- */
/* Variables */
/* ------------------------------------- */

:root {
    --primary-color: #005BF2;
    --dark-color: #141414;
}

/* ------------------------------------- */
/* Global */
/* ------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000000;
    color: #999999;
}

h1, h2, h3, h4 {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

/* ------------------------------------- */
/* preloader */
/* ------------------------------------- */

#preload {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    z-index: 3;
}

#preload img {
    width: initial;
}

#preload .airplane {
    height: 200px;
    animation: airplane 1s ease infinite alternate;
}

#preload h3 {
    position: absolute;
    top: 75%;
    transform: translateY(-75%);
    font-size: 30px;
}

.preload-finish {
    opacity: 0;
    pointer-events: none;
}

@keyframes airplane {
    from {
        transform: translateY(0px);
    }
    to{
        transform: translateY(50px);
    }
}

/* ------------------------------------- */
/* Showcase */
/* ------------------------------------- */

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url(../img/background.png) no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* ------------------------------------- */
/* Tabs */
/* ------------------------------------- */

.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem;
}

.tabs .container > div:hover {
    color: #ffffff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* ------------------------------------- */
/* Tab Content */
/* ------------------------------------- */

.tab-content {
    padding: 3rem;
    background: #000000;
    color: #ffffff;
}

/* Hide content initialy */

#tab-1-content, #tab-2-content, #tab-3-content {
    display: none;
} 

.show {
    display: block !important;
}

/* ------------------------------------- */
/* Tab 1 */
/* ------------------------------------- */

#tab-1-content .tab-1-content-inner {
    text-align: center;
}

#tab-1-content .tab-1-content-inner h2  {
    margin-top: 1.5rem;
}

#tab-1-content #skills {
    display: flex;
    justify-content: center;
}

#tab-1-content #skills ul,#tab-1-content #achievements ul{
    font-size: 1.2rem;
    text-align: start;
}

#tab-1-content #skills li,#tab-1-content #achievements li{
    padding: 6px 0;
    list-style-position: inherit;
}

#tab-1-content #achievements{
    display: grid;
    grid-template-columns: 50% 50%;
}

#tab-1-content #achievements h3{
    margin-bottom: 6px;
}

#tab-1-content .tab-1-content-inner #education {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ------------------------------------- */
/* Tab 2 */
/* ------------------------------------- */

#tab-2-content .tab-2-content-inner {
    text-align: center;
}

#tab-2-content .tab-2-content-inner h2 {
    margin-top: 1.5rem;
}

/* ------------------------------------- */
/* tab 3 */
/* ------------------------------------- */

#tab-3-content .tab-3-content-inner {
    text-align: center;
}

#tab-3-content .tab-3-content-inner h2 {
    margin-top: 1.5rem;
}

#tab-3-content .tab-3-content-inner p {
    margin-bottom: 1.3rem;
}

#tab-3-content .tab-3-content-inner a {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, var(--primary-color), var(--primary-color) 50%, #ffffff 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

#tab-3-content .tab-3-content-inner a:hover {
    background-position: 0 100%;
}

/* ------------------------------------- */
/* Form for later use*/ 
/* ------------------------------------- */

/* #tab-3-content .contact input, #tab-3-content .contact textarea {
    width: 50%;
    padding: 5px;
    background: #1e242c;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: #999999;
    resize: vertical;
}

#tab-3-content .contact input, #tab-3-content .contact textarea {
    transition: width 0.4s ease-in-out;
}
  
#tab-3-content .contact input:focus, #tab-3-content .contact textarea:focus {
    width: 100%;
}

#tab-3-content .contact textarea:focus {
    height: 150px;
} */

/* ------------------------------------- */
/* Footer */
/* ------------------------------------- */

.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
    text-align: center;
}

.footer a:hover {
    color: var(--primary-color);
    font-size: 120%;
}
/* Utility Classes */
/* Container */

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* ------------------------------------- */
/* Text */
/* ------------------------------------- */

.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999999;
}

/* ------------------------------------- */
/* Button */
/* ------------------------------------- */

/* .button_email{
    height: 38px;
    background: var(--primary-color);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    margin: 1rem;
} */

/* ------------------------------------- */
/* Media */
/* ------------------------------------- */

@media(max-width: 960px) {
    .tab-content {
        padding: 1rem 0;
    }

    .hide-sm
    {
        display: none;
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1rem;
    }
}

@media(max-width: 700px) {
    .showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    #tab-1-content .tab-1-content-inner h2 {
        text-align: center;
    }

    .container {
        max-width: 90%;
        margin: auto;
        overflow: hidden;
    }

    .button_1{
        width: 75%;
        margin: auto;
    }
}

@media(max-width: 450px) {
    .showcase {
        background: url(../img/background.png) no-repeat center right/cover;
        background-position: 65% 0;
    }

    .tab-content h2 {
        font-size: 1.3rem;
    }

    .tab-content p {
        font-size: 1rem;
    }

    .tab-content li {
        font-size: 1rem;
    }

    #tab-1-content #achievements {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (orientation:landscape)  and (max-width: 750px){
    showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    .showcase-content {
        margin-top: 4rem;
    }

    .showcase-top img {
        width: 120px;
    }

    .showcase-content h1 {
        font-size: 3rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1rem;
    }
 }

