/* Variables */

:root {
    --primary-color: #005BF2;
    --dark-color: #141414;
}

/* Global */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000000;
    color: #999999;
}

/* ul {
    list-style: none;
} */

h1, h2, h3, h4 {
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

/* Showcase */

.showcase {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url(../img/background.png) no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
    position: relative;
    z-index: 2;
    height: 90px;
}

.showcase-top img {
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
}

.showcase-content {
    position: relative;
    z-index: 2;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
}

.showcase-content h1 {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* Tabs */

.tabs {
    background: var(--dark-color);
    padding-top: 1rem;
    border-bottom: 3px solid #3d3d3d;
}

.tabs .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}

p {
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.tabs .container > div {
    padding: 1.5rem;
}

.tabs .container > div:hover {
    color: #ffffff;
    cursor: pointer;
}

.tab-border {
    border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */

.tab-content {
    padding: 3rem;
    background: #000000;
    color: #ffffff;
}

/* Hide content initialy */

#tab-1-content, #tab-2-content, #tab-3-content {
    display: none;
} 

.show {
    display: block !important;
}

#tab-1-content .tab-1-content-inner {
    text-align: center;
}

#tab-1-content .tab-1-content-inner h2 {
    margin-top: 1.5rem;
}

#tab-1-content .tab-1-content-inner ul {
    font-size: 1.2rem;
    text-align: justify;
}

#tab-1-content .tab-1-content-inner li {
    padding-bottom: 6px;
    list-style-position: inherit;
}

#tab-1-content .tab-1-content-inner #education {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#tab-2-content .tab-2-content-inner {
    text-align: center;
}

#tab-2-content .tab-2-content-inner h2 {
    margin-top: 1.5rem;
}

#tab-3-content .tab-3-content-inner {
    text-align: center;
}

#tab-3-content .tab-3-content-inner h2 {
    margin-top: 1.5rem;
}

#tab-3-content .tab-3-content-inner p {
    margin-bottom: 1.3rem;
}

/* Form */

#tab-3-content .contact input, #tab-3-content .contact textarea {
    width: 50%;
    padding: 5px;
    background: #1e242c;
    margin: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    color: #999999;
    resize: vertical;
}

#tab-3-content .contact input, #tab-3-content .contact textarea {
    transition: width 0.4s ease-in-out;
}
  
#tab-3-content .contact input:focus, #tab-3-content .contact textarea:focus {
    width: 100%;
}

#tab-3-content .contact textarea:focus {
    height: 150px;
}

#status {
    width: 50%;
    padding: 10px;
    margin: 1rem auto;
    border-radius: 8px;
}

#status.success {
    background-color: rgb(34, 170, 34);
    animation: status 4s ease forwards;
}

#status.error {
    background-color: #e50914;
    animation: status 4s ease forwards;
}

/* Footer */

.footer {
    max-width: 75%;
    margin: 1rem auto;
    overflow: auto;
    text-align: center;
}

/* Utility Classes */
/* Container */

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

/* Text */

.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: #999999;
}

/* Button */

.button_1{
    height: 38px;
    background: var(--primary-color);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/* Keyframes */

@keyframes status {
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
    
}

/* Media */

@media(max-width: 960px) {
    .tab-content {
        padding: 1rem 0;
    }

    .hide-sm
    {
        display: none;
    }

    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1.5rem;
    }

    .text-xl {
        font-size: 1.5rem;
    }

    .text-lg {
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1rem;
    }
}

@media(max-width: 700px) {
    .showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    #tab-1-content .tab-1-content-inner , #tab-2-content .tab-2-content-inner p, #tab-3-content .tab-3-content-inner p {
        text-align: justify;
    }

    #tab-1-content .tab-1-content-inner h2 {
        text-align: center;
    }

    .container {
        max-width: 90%;
        margin: auto;
        overflow: hidden;
    }

    .button_1{
        width: 75%;
        margin: auto;
    }
}

@media(max-width: 450px) {
    .showcase {
        background: url(../img/background.png) no-repeat center right/cover;
        background-position: 65% 0;
    }

    .tab-content h2 {
        font-size: 1.3rem;
    }

    .tab-content p {
        font-size: 1rem;
    }

    .tab-content li {
        font-size: 1rem;
    }

    .button_1 {
        margin-bottom: 0.5rem;
    }
}

@media screen and (orientation:landscape)  and (max-width: 750px){
    showcase::after {
        box-shadow: inset 80px 80px 250px #000000, inset -80px -80px 250px #000000;
    }

    .showcase-content {
        margin-top: 4rem;
    }

    .showcase-top img {
        width: 120px;
    }

    .showcase-content h1 {
        font-size: 3rem;
        line-height: 1;
    }

    .showcase-content p {
        font-size: 1rem;
    }
 }

